.mainContainer{
    width: 35%;
    margin: auto;
    border: 1px solid red;
}
.post_div{
    height: 130px;
    width: 60%;
}
.searchboxwrapper{
    border: 1px solid blueviolet;
    width: 50%;
    margin: auto;
    margin-left: 30%;
}
.btn1{
    display: flexbox;
    grid-template-columns: 50px 50px;
    border: 0;
    margin: 10px;
    width: 110px;
    font-size: 14.3px;
    font-family: sans-serif;
    background-color: antiquewhite;
}
.btn_post{
    border: 0px;
    margin-left: 40%;
    width: 110px;
    font-size: 14.3px;
    font-family: sans-serif;
    background-color: #4FC3F7;
    color: white;
    border-radius: 5px;
}
.postContent_div{
    border: 1px solid red;
    /* width: 200px;
    height: 200px; */
    margin: auto;
}
.imgDiv{
    display: flexbox;
    grid-template-columns: 60px 60px;

}
.icon1{
    width: 15px;
}





/* 
{/* <ReactGiphySearchbox
          className="btn1"
          apiKey="81VVDpHQgebCEmrSghxiaywJf0r2chnY"
          onSelect={(item) => console.log(item)}
          masonryConfig={[
            { columns: 2, imageWidth: 100, gutter: 5 },
            { mq: "700px", columns: 3, imageWidth: 100, gutter: 5 },
          ]}
        /> }*/ 